.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.mlflow/

# mlflow artifacts and db
mlruns.db
artifacts/
mlruns/

# Generated/intermediate datasets
data/interim/
data/processed/
data/corrections/
data/model_ready/

# Original Dataset/model paper and etc. 
resources/

